<div class="add-movie-container">
  <h1>Add Movie</h1>

  <div class="search-wrapper">
    <p-autoComplete
      [ngModel]="searchQuery()"
      (ngModelChange)="updateSearchQuery($event)"
      (completeMethod)="loadAutocompleteSuggestions($event.query)"
      (onSelect)="onSuggestionSelect($event.value)"
      (keyup.enter)="onEnter()"
      [suggestions]="autocompleteSuggestions()"
      optionLabel="title"
      placeholder="Search for a movie..."
      field="title"
      fluid
      filled
      [showClear]="true"
    >
      <ng-template let-movie pTemplate="item">
        <div class="movie-result">
          @if (movie.posterUrl) {
            <img class="result-poster" [src]="movie.posterUrl" [alt]="movie.title" />
          }
          <div class="result-info">
            <span class="result-title">{{ movie.title }}</span>
            <span class="result-year">{{ movie.releaseDate?.split('-')[0] || 'N/A' }}</span>
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>

  @if (watchlistSearchResults().length > 0) {
    @if (isMobile()) {
      <div class="results-list">
        @for (movie of watchlistSearchResults(); track movie.id) {
          <app-mobile-watch-list-movie-card [movie]="movie" [searchMode]="true" />
        }
      </div>
    } @else {
      <div class="results-grid">
        @for (movie of watchlistSearchResults(); track movie.id) {
          <app-watch-list-movie-card [movie]="movie" [searchMode]="true" />
        }
      </div>
    }
  }
</div>
