.header-start {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-right: 2rem;
}

.app-logo {
  width: 48px;
  height: 48px;
}

.app-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.header-end {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 960px) {
  .app-title {
    display: none;
  }

  .add-movie-btn ::ng-deep .p-button-label,
  .logout-btn ::ng-deep .p-button-label {
    display: none;
  }

  .logout-btn {
    --p-button-background: transparent;
    --p-button-border-color: transparent;
    --p-button-hover-background: rgba(255, 255, 255, 0.2);
    --p-button-hover-border-color: transparent;
  }
}
