/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

/* Active menu item based on current route */
.p-menubar-item-content {
  color: var(--p-navigation-item-color);
  background: var(--p-navigation-item-background);
}

.p-menubar-item-content:has(.p-menubar-item-link-active) {
  color: var(--p-navigation-item-active-color);
  background: var(--p-navigation-item-active-background);
}
