<p-card [style]="{ width: '100%', overflow: 'hidden' }">
  <div class="card-body">
    <a
      href="https://www.themoviedb.org/movie/{{ movie().movieId }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img alt="Card" src="{{ imageBaseUrl }}w92{{ movie().poster }}" />
    </a>
    <div class="card-info">
      <h3 class="movie-title">{{ movie().title }}</h3>
      @if (movie().voteAverage !== null && movie().voteAverage !== 0) {
      <p-progressbar [value]="Math.round(movie().voteAverage * 10)" />
      }
      <div class="watch-info">
        @for (provider of movie().providers; track provider) {
        <img [src]="imageBaseUrl + 'w45/' + provider.logoPath" alt="Provider Logo" />
        }
      </div>
      <div class="button-container">
        @if (searchMode()) {
        <p-button
          label="Add to Watchlist"
          class="w-full search-action-button"
          [disabled]="addDisabled()"
          (onClick)="addToWatchlist.emit(movie())"
        />
        } @else {
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (onClick)="deleteMovie.emit(movie())"
        />
        <p-button
          icon="pi pi-check"
          severity="success"
          [rounded]="true"
          [outlined]="true"
          (onClick)="watchMovie.emit(movie())"
        />
        }
      </div>
    </div>
  </div>
</p-card>
